.latest1_default { width:100%; padding-bottom:15px; overflow:hidden; position:relative;}
.latest1_default h2 { margin:0; display:block; height:21px; padding:9px 0 0 15px; margin-bottom:12px; color:#333333; background:url(../images/default/lineNotice.gif) no-repeat left bottom; font-size:1em;}

.latest1_default ul { margin:0; padding:0; }
.latest1_default ul li { height:20px; background:url(../images/default/bulletD0.gif) no-repeat 5px 5px; padding-left:15px; overflow:hidden; list-style:none; default-space:nowrap;}

.latest1_default ul li .title a { color:#818181; text-decoration:none; }
.latest1_default ul li .title a:hover { text-decoration:underline; }
.latest1_default ul li .title span.comment { color:#FE6700; font:.9em Tahoma; }
.latest1_default ul li .title span.comment a { color:#FE6700; font:.9em Tahoma; }

.latest1_default ul li .date { color:#333333; font:.8em Tahoma; default-space:nowrap; margin-right:0px; float:right;}

.latest1_default .more { position:absolute; top:12px; right:0px; color:#333333; font:.8em Tahoma;}
.latest1_default a.more { text-decoration:none;} 
.latest1_default a.more:hover { text-decoration:underline;} 
