/*next button*/
.bx-next {
	background: url(orange_next.png) no-repeat 0 -30px;
}

/*previous button*/
.bx-prev {
	background: url(orange_prev.png) no-repeat 0 -30px;
}

/*pager links*/
.bx-pager a {
	background: url(orange_pager.png) no-repeat 0 -20px;
}

/*auto start button*/
.bx-auto .start {
	background: url(orange_auto.png) no-repeat 0 2px;
}

/*auto stop button*/
.bx-auto .stop {
	background: url(orange_auto.png) no-repeat 0 -14px;
}
