dump
sftp-config.json
*.log

# https://github.com/xpressengine/xe-core/blob/master/.gitignore
.DS_Store
Thumbs.db

/docroot/config.user.inc.php
/docroot/files
/docroot/build/

/docroot/codeception.yml
/docroot//tests/_output/
/docroot//tests/_support/*Tester.php
/docroot//tests/_support/_generated/
/docroot//tests/*.suite.yml
/docroot//doxygen/dist

/docroot/node_modules/
/docroot/bower_components/
/docroot/vendor/
/docroot/composer.phar
/docroot/composer.lock

.idea
*.sublime-workspace
*.sublime-project
.codeintel
