<style type="text/css">

.gnb{background:{$layout_info->pallet_user}; }						   			   			   			   			   			   			   			   			  			           /* --  메인 메뉴바 border값 -- */
																																					    
#layoutToggle2 {border:1px solid {$layout_info->pallet_user}; }																							     			           /* --  전체메뉴 테두리 -- */
#layoutToggle2 a.read_more{background-color:{$layout_info->pallet_user};}


.top_menu ul li{border-top:0px;}							   			   			   			   			   			   	       /* 2차분리라인 */
.top_menu ul li.highlight {color:{$layout_info->pallet_user}; font-weight:bold;}						                                                                                           /* 2,3 차 롤오버 bg 컬러  */	   	                                                                                            


.sch_wrap li{background-color:{$layout_info->pallet_user_s};}		/* 메뉴바 우측 퀵메뉴 3개 */	  


.login_widget .signin .btn_submit{color:#eee;background-color:{$layout_info->pallet_user};}	                                                                           /* 로그인 모달 버튼 */

.loginBox .submit { background-color:{$layout_info->pallet_user} !important;border:1px solid {$layout_info->pallet_user};border-right:1px solid {$layout_info->pallet_user} !important;border-bottom:1px solid {$layout_info->pallet_user}; !important; }     /* 로그인 버튼 */

#layoutToggle2 a.toggle_x{background-color:{$layout_info->pallet_user};}		/* X 버튼  */	

/* IE8 */  
@media \0screen {    
#layoutToggle2 {width:940px; }	   
}  			

</style>