




.top_warp{background:#9ed215; }						   			   			   			   			   			   			   			   			  		       /* --  메인 메뉴바 border값 -- */
																																					    
#layoutToggle2 {border:3px solid #9ed215; border-top:0px;}																							       /* --  전체메뉴 테두리 -- */
#layoutToggle2 a.read_more{background-color:#9ed215;}


.top_menu ul li{border:1px solid #9ed215; border-top:0px;}							   			   			   			   			   			   		   /* 2차분리라인 */
.top_menu ul li.highlight {background:#9ed215;}						                                                                                           /* 2,3 차 롤오버 bg 컬러  */	   	                                                                                            
.top_menu ul ul li:first-child {border-top:1px solid #9ed215;}			                                                                                   /* 3차메뉴 가로 위치  */					  


.login_widget .signin .btn_submit{color:#eee;background-color:#9ed215;}	                                                                         /* 로그인 모달 버튼 */

.sch_wrap li{background-color:#01806d;}		/* 메뉴바 우측 퀵메뉴 3개 */



.loginBox .submit { background-color:#229ec3 !important;border:1px solid #016280;border-right:1px solid #016280 !important;border-bottom:1px solid #b21b50; !important; }     /* 로그인 버튼 */



.menu_select {color:#9ed215 !important;}		   /* 전체메뉴 선택 컬러 */


#layoutToggle2 a.toggle_x{background-color:#9ed215;}		/* 전체메뉴 X 버튼  */	 

.cTab li.on a,.cTab li:hover a{border-top:2px solid #9ed215}  		   /* xedition 게시판탭 컬러 */


