


.top_warp{background:#53c0c4; }						   			   			   			   			   			   			   			   			  			     	/* --  메인 메뉴바 border값 -- */
																																					    
#layoutToggle2 {border:3px solid #53c0c4; }																							     			            /* --  전체메뉴 테두리 -- */
#layoutToggle2 a.read_more{background-color:#53c0c4;}


.top_menu ul li{border:1px solid #53c0c4;border-top:0px;}							   			   			   			   			   			   		   /* 2차분리라인 */
.top_menu ul li.highlight {background:#53c0c4;}						                                                                                           /* 2,3 차 롤오버 bg 컬러  */	   	                                                                                            
.top_menu ul ul li:first-child {border-top:1px solid #53c0c4;}			                                                                                   /* 3차메뉴 가로 위치  */					  

.sch_wrap li{background-color:#2e6e70;}		/* 메뉴바 우측 퀵메뉴 3개 */

.dra_font:hover{color:#0c2627;}			   /* 1차메뉴 롤오버 */				   

.login_widget .signin .btn_submit{color:#eee;background-color:#ea008a;}	                                                                           /* 로그인 모달 버튼 */	   

.loginBox .submit { background-color:#53c0c4 !important;border-right:1px solid #3fb0b4 !important; border-bottom:1px solid #3fb0b4; !important; }	 /* 로그인 버튼 */




.menu_select {color:#53c0c4 !important;}	 

#layoutToggle2 a.toggle_x{background-color:#53c0c4;}		/* 전체메뉴 X 버튼  */	  


.cTab li.on a,.cTab li:hover a{border-top:2px solid #53c0c4}  		   /* xedition 게시판탭 컬러 */